[client]
port={{mysql_port}}
socket={{MYSQL_SOCKET_PATH}}/mysql.sock
default-character-set=utf8

[mysqld]
bind-address=0.0.0.0
port={{mysql_port}}
socket={{MYSQL_SOCKET_PATH}}/mysql.sock
datadir={{mysql_data_path}}
log-error={{mysql_log_path}}/mysqld.log
pid-file={{mysql_data_path}}/mysql.pid
character-set-server=utf8
lower_case_table_names=1
autocommit=1

expire_logs_days = 10
max_binlog_size = 100M
binlog_format=ROW
binlog_cache_size = 32M
max_connections={{MAX_CONNECTIONS}}
slow_query_log=on
long_query_time=1
skip-host-cache
skip-name-resolve
max_allowed_packet=100M
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION


{% for server in play_hosts %}
{% if server == inventory_hostname %}
server-id={{loop.index}}
{% endif %}
{% endfor %}
log-bin=mysql-bin
replicate-ignore-db=mysql
slave-skip-errors=all 


